[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
memory-profiler = "*"
pickle4 = "*"
numpy = "*"
scipy = "*"
scikit-learn = "*"
psutil = "*"
tensorflow = "==2.11.1"
pandas = "*"
numba = "*"

[dev-packages]

[requires]
python_version = "3.9"
